bin\
obj\
/FoxOne.Core/bin
/FoxOne.Core/bin
/FoxOne.Controls/bin
/FoxOne.Controls/bin/Release
/FoxOne.Controls/obj
/FoxOne.Core/obj
/.vs
/FoxOne.3VJ/obj
*.dll
*.pdb
/FoxOne.3VJ/bin/Debug/FoxOne.3VJ.XML
/FoxOne.3VJ/bin/Debug/FoxOne.Workflow.Business.xml
/FoxOne.3VJ/bin/Debug/StackExchange.Redis.xml
*.xml
/FoxOne.3VJ/bin/Debug/System.Net.Http.Formatting.xml
/FoxOne.3VJ/bin/Debug/System.Web.Http.xml
/FoxOne.3VJ/bin/Debug/System.Web.Mvc.xml
/FoxOne.3VJ/bin/Debug/System.Web.WebPages.Deployment.xml
/FoxOne.3VJ/bin/Debug/System.Web.WebPages.xml
/FoxOne.3VJ/bin/Release
/FoxOne.3VJ/bin/Debug/FoxOne.Workflow.Business.xml
/FoxOne.Data/bin
/FoxOne.Data/obj
/FoxOne.FoxHunter/bin
/FoxOne.FoxHunter/obj
/FoxOne.Web/bin
/FoxOne.Web/obj/Debug
/FoxOne.Workflow.Business/bin
/FoxOne.3VJ/bin/Debug
/FoxOne.Web/dlllogs
*.CopyComplete
/FoxOne.Workflow.DataAccess/bin/Debug/FoxOne.Business.dll.config
/FoxOne.Workflow.Kernel/bin/Debug/FoxOne.Business.dll.config
/FoxOne.Workflow.Kernel/obj/Debug/FoxOne.Workflow.Kernel.csproj.CoreCompileInputs.cache
*.p7s
/FoxOne.Business/obj/Release/FoxOne.Business.csprojAssemblyReference.cache
/FoxOne.Business/obj/Release/FoxOne.Business.csproj.CoreCompileInputs.cache
/FoxOne.Web/obj/Release
/FoxOne.Workflow.Business/obj/Release/FoxOne.Workflow.Business.csprojAssemblyReference.cache
/FoxOne.Workflow.Business/obj/Release/FoxOne.Workflow.Business.csproj.CoreCompileInputs.cache
/FoxOne.Workflow.DataAccess/obj/Release
/FoxOne.Workflow.DataAccess/bin/Release
/FoxOne.Workflow.Kernel/obj/Release
/FoxOne.Workflow.Kernel/bin/Release
