<!DOCTYPE html>
<html>
<head id="ctl00_ctl00_Head1">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>
        @ViewBag.Title
    </title>
    <meta name="description" content="nopCommerce is the open-source eCommerce solution. nopCommerce is available for free. It has everything you need to get started in selling physical and digital goods over the internet.">
    <meta name="keywords" content="shopping cart, e-commerce, free shopping cart, ecommerce software, ecommerce solution, open-source ecommerce, ecommerce website, website ecommerce, open-source shopping cart, asp.net shopping cart">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Styles/front-end.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script>
    </script>
</head>
<body>




    @RenderBody()

</body>
</html>