@{Layout = null;}
@using FoxOne.Business
@using FoxOne.Controls
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>考勤数据上传</title>
    @System.Web.Optimization.Styles.Render("~/style/common.css")
    @System.Web.Optimization.Scripts.Render("~/script/common.js")
    @System.Web.Optimization.Scripts.Render("~/script/widget.js")
</head>
<body>


    <div class="toolbar">
        <form action="/Attachment/UploadAttendanceData" method="post" enctype="multipart/form-data">
            <div class="form-group form-horizontal">
                <div class="form-inline">
                    <input type="file" class="form-control" name="file" id="file" />
                    <input type="text" class="form-control" placeholder="更新时间" id="LastUpdateTime" name="LastUpdateTime" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:00'})" />
                    <input type="submit" class="btn btn-success btn-big" value="上传并更新考勤信息" />
                </div>
            </div>

        </form>
    </div>


</body>
</html>