
html, body {
    background-color: #FFF;
}

h1 {
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    background-color: #f6f8f9;
    border-bottom: 1px solid white;
}

.user-select {
    width: 800px;
    height: 500px;
    background-color: white;
    padding: 15px;
    position: absolute;
    bottom: 10px;
    left: 10px;
}


    .user-select h2 {
        padding: 10px;
        font-weight: bold;
        border-bottom: 1px dashed #CCC;
        font-size: 15px;
    }

.user-select-button {
    position: absolute;
    top: 30px;
    right: 50px;
}

.step-list {
    width: 100%;
}

.step-item {
    border: 1px solid #CCC;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    background-color: #EEE;
    cursor: pointer;
}

    .step-item:hover {
        background-color: #FFF;
    }

    .step-item h3 {
        font-weight: normal;
        color: #666;
        font-size: 15px;
    }

        .step-item h3 img {
            width: 30px;
            height: 30px;
            margin-right: 5px;
        }

    .step-item p {
        margin-top: 10px;
        color: #aaa;
    }

.step-item-selected {
    background-color: white;
    border-color: #449d44;
    border-width: 2px;
}

    .step-item-selected h3 {
        color: #449d44;
        font-weight: bold;
    }

    .step-item-selected p {
        color: #666;
    }

.user-list {
    border-top: 1px dashed #CCC;
    padding-top: 10px;
    margin-top: 10px;
    display: none;
    height: 150px;
    overflow-y: auto;
}

.user-item {
    border: 1px solid #CCC;
    border-radius: 5px;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: inline-block;
    background-color: #EEE;
}

    .user-item img {
        width: 50px;
        height: 50px;
        border: 1px solid #CCC;
    }

.user-name {
    text-align: center;
}

.user-item-selected {
    background: white url(../../images/default/input-icon-success.png) 50px 72px no-repeat;
    border: 2px solid #449d44;
}

    .user-item-selected .user-name {
        color: #449d44;
        font-weight: bold;
        text-align: left;
    }

    .user-item-selected img {
        border: 1px solid #449d44;
    }

.step-item-selected .user-list {
    display: block;
}

.no-user-item {
    border: 1px dashed #ec971f;
    border-radius: 5px;
    padding: 10px;
    background-color: navajowhite;
    text-align:center;
    font-weight:bold;
    color:#ec971f;
}

.form-horizontal textarea.xh-editor {
    width: 700px;
    height: 200px;
}

.workflow-btn {
    margin-top: 30px;
    text-align: center;
}

    .workflow-btn .btn {
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-top: 10px;
        width: 120px;
    }


.left {
    position: absolute;
    top: 15px;
    right: 15px;
}

.right {
    float: left;
    width: 100%;
    border-right: 1px solid #dcdcdc;
}

.work-item {
    border: 1px solid #dcdcdc;
    background-color: #f6f8f9;
    padding: 10px;
    width: 850px;
    border-radius: 4px;
    font-size: 14px;
    text-align: left;
    position: relative;
    margin-top: 10px;
}

.notice-item {
    border: 1px solid #dcdcdc;
    background-color: #f6f8f9;
    padding: 10px;
    border-radius: 4px;
    font-size: 14px;
    text-align: left;
    margin-left: 10px;
    display: inline-block;
}

    .notice-item img {
        background-color: white;
        border: 1px solid #dcdcdc;
        height: 50px;
        width: 50px;
    }

    .notice-item p {
        text-align: center;
        margin-top: 5px;
    }

        .notice-item p.status {
            font-size: 12px;
            color: green;
        }

        .notice-item p.sent {
            color: red;
        }

.work-item-left {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}


    .work-item-left img {
        background-color: white;
        border: 1px solid #dcdcdc;
        height: 50px;
        width: 50px;
    }

.work-item-right {
    display: inline-block;
    width: 80%;
}

    .work-item-right span {
        margin-right: 20px;
    }

    .work-item-right .cap {
        border-bottom: 1px dashed #dcdcdc;
        padding-bottom: 3px;
        margin-bottom: 3px;
    }

    .work-item-right .time {
        float: right;
        color: #aaa;
        font-size: 12px;
    }

    .work-item-right .name {
        color: #666;
        font-size: 13px;
    }

    .work-item-right .opinion {
        font-weight: bold;
    }

.work-item-status {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
    font-weight: bold;
}

.right h2 {
    font-weight: bold;
    font-size: 13px;
    border-bottom: 1px dashed #CCC;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.attachment-item {
    display: inline-block;
    border: 1px solid #CCC;
    padding: 10px;
    margin: 10px;
    text-align: left;
    width: 245px;
}


    .attachment-item img {
        width: 37px;
        height: 47px;
        float: left;
        margin-right: 10px;
    }

.finished, .autofinished {
    color: green;
}

.sent, .receive, .readed {
    color: #ec971f;
}

.attachment-label {
    width: 150px;
    text-overflow: ellipsis;
}

.attachment-user-label {
    color: #AAA;
    font-size: 12px;
}

.form-horizontal .form-group {
    margin-left: 0px;
    margin-right: 0px;
}

    .form-horizontal .form-group label {
        width: 100px;
    }

.area {
    padding: 10px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #CCC;
    width: 880px;
    text-align: left;
    background-color: white;
    margin-bottom: 20px;
    position: relative;
}

    .area h2 {
        border-bottom: 1px dashed #CCC;
        font-weight: bold;
        color: #0B98C3;
    }


.main-content {
    margin-top: 1px;
    overflow-y: auto;
    text-align: center;
    border-top: 1px solid #dcdcdc;
    background-color: #666;
}

.upload-container {
    margin: 10px;
}

.atta-del {
    color: red;
}

.atta-download {
    color: #0B98C3;
}

    .atta-download:hover {
        text-decoration: underline;
    }

span.form-control {
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0px;
    -webkit-box-shadow: none;
    color: #0B98C3;
}

.opinion-content {
    margin-bottom: 10px;
    text-align: center;
}

    .opinion-content a {
        color: #0B98C3;
        cursor: pointer;
        font-size: 14px;
        text-decoration: underline;
    }
