@{Layout = null; }
@using FoxOne.Business
@using FoxOne.Controls
@using FoxOne.Core
@using System.Linq
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>批量办理待办事项</title>
    @System.Web.Optimization.Styles.Render("~/style/common.css")
</head>
<body class="easyui-layout">
    <div layout="Right">
        <div class="toolbar">
            <input class="btn btn-success btn-big" id="btnBatchOK" onclick="batchRun('run')" type="button" value="同意" />
            <input class="btn btn-danger btn-big" id="btnBatchDeny" onclick="batchRun('forceend')" type="button" value="不同意" />
            <input class="btn btn-warning btn-big" id="btnBack" onclick="batchRun('pushback')" type="button" value="回退上一步" />
            <input class="btn btn-warning btn-big" id="btnBackToRoot" onclick="batchRun('backtoroot')" type="button" value="退回拟稿人" />
        </div>
        @Html.CustomControl(ViewData["Table"] as Table)
    </div>
    @System.Web.Optimization.Scripts.Render("~/script/common.js")
    @System.Web.Optimization.Scripts.Render("~/script/widget.js")
    <script type="text/javascript">
        var table = $("div[Widget='Table']");
        function batchRun(r) {
            var ids = [];
            table.find(":checked").not("[checkAll]").each(function () {
                var tr = $(this).closest("tr").data();
                var id = tr.key
                if (id && id != '') {
                    ids.push(id);
                }
            });
            if (ids.length <= 0) {
                foxOne.alert("请至少选择一条记录！");
                return;
            }
            foxOne.dataService("/Workflow/BatchRun", { id: ids.join(','), action: r }, function (res) {
                if (res) {
                    foxOne.refresh(table.attr("id"));
                }
            });
        }
    </script>
</body>
</html>
